extends ./layout/index

block contenido     
   main.container.mt-5 
    .row
        .col-md-5 
            img(src="img/nosotros.jpg", alt="nosotros", class="img-fluid")
        .col-md-7 
            h1 #{pagina}
            blockquote  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis vitae blanditiis repellendus aspernatur inventore, consequuntur deleniti enim doloribus voluptatum accusamus. Aut qui doloribus perferendis quis, inventore ipsam harum dolore adipisci suscipit enim temporibus earum, veritatis assumenda soluta nihil aperiam? Laudantium sunt, vitae saepe quod incidunt expedita iure sint deleniti magni. Quisquam alias harum id impedit mollitia porro enim perferendis beatae velit. Laboriosam nemo mollitia explicabo voluptatibus quod, quo nisi sunt officiis, tempore nulla ad consequatur quaerat temporibus earum, incidunt magnam reiciendis quos libero accusantium recusandae obcaecati voluptatem facilis. Dolor sed fugiat eligendi optio, natus quaerat architecto unde mollitia fuga eum.

            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis unde vitae quia cupiditate iste tempore, dolorum laborum odio, quo, reiciendis officiis quam. Error nesciunt fugiat atque! Dolores voluptatibus eveniet recusandae mollitia facere iusto magni, neque iure iste? Tenetur, eligendi ullam velit qui aliquid sunt fugit perferendis error nostrum cum magnam natus illo consectetur asperiores. Rerum nemo ex eum quasi in. Non suscipit quaerat alias itaque incidunt aperiam repellendus reiciendis soluta sit totam tenetur nesciunt quod autem reprehenderit, ducimus, tempore esse voluptatum dolorum earum sequi maxime iure excepturi? Quos optio quas dicta vitae, exercitationem illo repellat est, eligendi alias ad corporis.

         

    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-2 Seguridad 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, assumenda neque hic unde laboriosam a voluptatibus nam soluta tempore eum, doloribus sequi exercitationem qui accusamus reprehenderit recusandae? 

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destinos" class="img-fluid mb-4")
                    h2.mb-2 Mejores Destinos 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, assumenda neque hic unde laboriosam a voluptatibus nam soluta tempore eum, doloribus sequi exercitationem qui accusamus reprehenderit recusandae? 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono Precios" class="img-fluid mb-4")
                    h2.mb-2 Mejores Precios 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, assumenda neque hic unde laboriosam a voluptatibus nam soluta tempore eum, doloribus sequi exercitationem qui accusamus reprehenderit recusandae?      
                           
          
          





